include ./header

block content
	h1 Your Machine
	.howContainer
		h3 How it works: 
		p Add '/fcc/whoIam' to the end of the current URL. A JSON object should return with your current IP address, language being used, and the software currently running your machine.
	.exampleContainer
		h3 Shortcut Here:
		a(href="http://localhost:3000/fcc/whoIam") localhost:3000/fcc/whoIam