doctype html
html(lang="en")
	head
		title Who Am I
		link(rel='stylesheet', href='/css/main.css', type='text/css')
		link(href="https://fonts.googleapis.com/css?family=Ranga" rel="stylesheet")
	body
		block content